ion-avatar {
    ion-icon {
        font-size: 40px;
    }
}
.card-report {
    display: block;
    // background: orange;
    // background: url('/assets/images/background/Background.jpg') no-repeat 100% 100%;
    // background-size: 100%;
    // background-position: top;
    background: rgb(64,151,170);
    background: linear-gradient(180deg, rgba(64,151,170,1) 0%, rgba(169,209,142,1) 64%);
    color: #333;
    padding: 30px 15px 30px 15px;
    border-radius: 20px;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    p  {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        font-size: 30px;
        font-weight: bold;
    }
    ion-icon {
        font-size: 50px;
    }
}
.profile-img {
    border-radius: 50% !important;
    width: 200px;
    height: 200px;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.w-100 {
    width: 100% !important;
}