<ion-header>
  <ion-toolbar color="public">
    <ion-title>{{titlePub}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="backPage()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="todo" (ngSubmit)="formData()">
    <ion-row>
      <ion-col size="12">
        <ion-label>ชื่อสถานที่</ion-label>
        <ion-input type="text" formControlName="NAME"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>ที่ตั้ง</ion-label>
        <ion-input type="text" formControlName="ADDRESS"></ion-input>
      </ion-col>
      <!-- <ion-col size="12">
        <div class="upload-images" (click)="presentActionSheet()">
          <ion-icon name="camera-outline"></ion-icon>
          <p>อัพโหลดรูปภาพ</p>
        </div>
      </ion-col>
      <ion-col size="4" *ngFor="let imagesarray of imagesarray">
        <img class="preview-images" [src]="imagesarray" alt="">
      </ion-col> -->
      <ion-col size="12">
        <ion-button expand="block" shape="round" type="submit" color="public">ต่อไป</ion-button>
      </ion-col>
    </ion-row>
    </form>
    <!-- <ion-row>
      <ion-col size="12">
        <ion-button expand="block" shape="round" color="dark" routerLink="/tabs/form">หยุดชั่วคราว</ion-button>
      </ion-col>
    </ion-row> -->
  </ion-grid>
  <div class="progress">
    <ul>
      <li class="active"><ion-icon name="ellipse"></ion-icon></li>
      <li class="active"><ion-icon name="ellipse"></ion-icon></li>
      <li class="active"><ion-icon name="ellipse"></ion-icon></li>
      <li class="active"><span><ion-icon name="location-sharp" color="danger"></ion-icon></span><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
    </ul>
    <!-- <p>ความสำเร็จ</p>
    <ion-progress-bar color="secondary" value="0.4" buffer="0.4"></ion-progress-bar> -->
  </div>
</ion-content>
