<ion-header>
  <ion-toolbar color="family">
    <ion-title>แบบสัมภาษณ์ที่แล้วเสร็จ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let data of listsData,let i = index" lines="full" routerLink="formthree-lists-detail/{{data.VIL}}/{{data.MOO}}/{{data.A1}}">
      <ion-avatar slot="start" class="icon">
        <ion-icon name="newspaper-outline" color="family"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>{{i+1}} บ้านเลขที่ {{data.A1}} (ชื่อ {{data.NAME1}})</h3>
        <small>วันที่ {{data.DAY}} {{data.MONTH}} {{data.YEAR}}</small>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
