<ion-header>
  <ion-toolbar color="theme">
    <ion-title>{{titlePub}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h3>1. มีป้ายหรือเครื่องหมายห้ามสูบบุหรี่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer" (click)="form($event)" id="มี">มี</div>
        <div class="btn-answer" (click)="form($event)" id="ไม่มี">ไม่มี</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
