<ion-header>
  <ion-toolbar color="theme">
    <ion-title>แบบเก็บข้อมูล</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h3>6.สิ่งอำนวยความสะดวกในการสูบบุหรี่ เช่น ไฟแช๊ค ไม้ขีดไฟ เป็นต้น</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer" (click)="form($event)" id="พบ">พบ</div>
        <div class="btn-answer" (click)="form($event)" id="ไม่พบ">ไม่พบ</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
