<ion-header>
  <ion-toolbar color="theme">
    <ion-title size="small">แบบสัมภาษณ์พฤติกรรมการสูบบุหรี่</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h3>3ก. เลิกสูบมาแล้วกี่ปี</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <form [formGroup]="ionicForm" (ngSubmit)="Form()">
          <p>บันทึกจำนวนปี </p>
          <p class="text-danger">ถ้าเลิกน้อยกว่า 1 ปี บันทึก "0" </p>
          <p class="text-danger">ถ้าจำไม่ได้บันทึก "88"</p>
          <!-- <ion-input type="number" [(ngModel)]="todo.YEAR" name="YEAR"></ion-input> -->
          <ion-input type="number" formControlName="YEAR"></ion-input>
          <ion-button type="submit" expand="block" shape="round" color="dark" [disabled]="!ionicForm.valid">ตกลง</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
