<ion-content>
  <div id="container">
    <ion-text color="theme">
      <h3>มูลนิธิรณรงค์เพื่อการไม่สูบบุหรี่</h3>
    </ion-text>
    <form (ngSubmit)="signin()">
    <ion-item lines="full">
      <ion-label position="floating">ชื่อผู้ใช้</ion-label>
      <ion-input type="text" [(ngModel)]="formlogin.username" name="username"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">รหัสผ่าน</ion-label>
      <ion-input type="password" [(ngModel)]="formlogin.password" name="password"></ion-input>
    </ion-item>
    <ion-text color="danger">
      {{loginfail}}
    </ion-text>
    <div class="check">
      <ion-checkbox checked="true"></ion-checkbox>
      <ion-label class="text-if" (click)="condition()">เงื่อนไขการให้บริการ และนโยบายความเป็นส่วนตัว</ion-label>
    </div>
    <ion-button color="theme" expand="block" shape="round" type="submit">เข้าสู่ระบบ</ion-button>
    </form>
    <a href="forgot-password">ลืมรหัสผ่าน ?</a>
    <a href="tabs/register" class="float-right">ลงทะเบียน</a>
  </div>
</ion-content>
