<ion-header>
  <ion-toolbar color="theme">
    <ion-title>รายงานความก้าวหน้า</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <ion-row>
      <ion-col size="12">
        <ion-text color="light">
          <p class="ion-no-margin">ชื่อ {{user.name}}</p>
          <p class="ion-no-margin">ชื่อหน่วยงาน {{user.organization_name}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <form [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">วันที่เริ่มงาน</ion-label>
          <ion-input type="date" formControlName="dateStart"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">วันที่สิ้นสุดงาน</ion-label>
          <ion-input type="date" formControlName="dateEnd"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <div class="box-numdate">
          <p>รวมวันเก็บข้อมูล</p>
          <p>{{numDay}} วัน</p>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-button color="primary" expand="block" type="submit" [disabled]="!todo.valid">ค้นหา</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div *ngIf="formData == true">
          <div class="card-report public">
            <ion-row>
              <ion-col size="12">
                <ion-text class="ion-text-center">
                  <h5><b>สังเกตสถานที่สาธารณะ {{numDay}} วัน</b></h5>
                </ion-text>
              </ion-col>  
              <ion-col size="6">
                <div class="box">
                  <p><b>จำนวนทั้งหมด</b></p>
                  <p><b>{{dataPublic.total}}</b> แห่ง</p>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="box">
                  <p><b>วันนี้</b></p>
                  <p><b>{{dataPublic.numToday}}</b> แห่ง</p>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="box">
                  <p><b>สะสม</b></p>
                  <p><b>{{dataPublic.numSelect}}</b> แห่ง</p>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="box">
                  <p><b>ร้อยละความสำเร็จ</b></p>
                  <p><b>{{dataPublic.percen}}</b> %</p>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <div class="card-report shop">
            <ion-row>
              <ion-col size="12">
                <ion-text class="ion-text-center">
                  <h5><b>สังเกตร้านค้า {{numDay}} วัน</b></h5>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <div class="box">
                  <p><b>จำนวนทั้งหมด</b></p>
                  <p><b>{{dataShop.total}}</b> ร้าน</p>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="box">
                  <p><b>วันนี้</b></p>
                  <p><b>{{dataShop.numToday}}</b> ร้าน</p>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="box">
                  <p><b>สะสม</b></p>
                  <p><b>{{dataShop.numSelect}}</b> ร้าน</p>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="box">
                  <p><b>ร้อยละความสำเร็จ</b></p>
                  <p><b>{{dataShop.percen}}</b> %</p>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <div class="card-report family">
            <ion-row>
              <ion-col size="12">
                <ion-text class="ion-text-center">
                  <h5><b>แบบสัมภาษณ์พฤติกรรมการสูบบุหรี่ {{numDay}} วัน</b></h5>
                </ion-text>
              </ion-col>
              <ion-col size="6">
                <div class="box">
                  <p><b>จำนวนทั้งหมด</b></p>
                  <p><b>{{dataFamily.total}}</b> ครัวเรือน</p>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="box">
                  <p><b>วันนี้</b></p>
                  <p><b>{{dataFamily.numToday}}</b> ครัวเรือน</p>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="box">
                  <p><b>สะสม</b></p>
                  <p><b>{{dataFamily.numSelect}}</b> ครัวเรือน</p>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="box">
                  <p><b>ร้อยละความสำเร็จ</b></p>
                  <p><b>{{dataFamily.percen}}</b> %</p>
                </div>
              </ion-col>
              <ion-col size="12">
                <div class="box">
                  <p><b>ผู้ได้รับการสัมภาษณ์ทั้งหมด</b></p>
                  <p><b>{{dataFamily.people_total}}</b> คน</p>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
      <!-- <ion-col size="12">
        <div class="card-report">
          <span class="persent">10%</span>
          <p class="text-title">สังเกตสถานะที่สาธารณะ</p>
          <p>จำนวนที่ได้รับมอบหมาย <span class="text-count">100</span></p>
          <p>จำนวนที่แล้วเสร็จ <span class="text-count">10</span></p>
          <p>จำนวนที่เหลือ <span class="text-count">90</span></p>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="card-report">
          <span class="persent">10%</span>
          <p class="text-title">สังเกตร้านค้า</p>
          <p>จำนวนที่ได้รับมอบหมาย <span class="text-count">100</span></p>
          <p>จำนวนที่แล้วเสร็จ <span class="text-count">10</span></p>
          <p>จำนวนที่เหลือ <span class="text-count">90</span></p>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="card-report">
          <span class="persent">10%</span>
          <p class="text-title">แบบสัมภาษณ์พฤติกรรมการสูบบุหรี่</p>
          <p>จำนวนที่ได้รับมอบหมาย <span class="text-count">100</span></p>
          <p>จำนวนที่แล้วเสร็จ <span class="text-count">10</span></p>
          <p>จำนวนที่เหลือ <span class="text-count">90</span></p>
        </div>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
