<ion-header>
  <ion-toolbar color="theme">
    <ion-title>{{titlePub}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form #form="ngForm" (ngSubmit)="formData(form)">
    <ion-row>
      <ion-col size="12">
        <ion-label>หมู่ที่</ion-label>
        <ion-input type="text" [(ngModel)]="todo.MOO" name="MOO"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>ชื่อชุมชน/บ้าน</ion-label>
        <ion-input type="text" [(ngModel)]="todo.VIL" name="VIL"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" shape="round" type="submit" color="dark">ต่อไป</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </ion-grid>
  <div class="progress">
    <p>ความสำเร็จ</p>
    <ion-progress-bar color="secondary" value="0.2" buffer="0.2"></ion-progress-bar>
  </div>
</ion-content>
