.title {
    font-weight: bold;
}
.hr-border {
    border-bottom: 1px solid #eee;
}

// input 
ion-select,
ion-input {
    border: 1px solid #eee;
    margin-top: 10px !important;
}
ion-label {
    overflow: initial !important;
    white-space: initial !important;
    font-size: .9rem !important;
}


.upload-images {
    display: block;
    background-color: #eee;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    ion-icon {
        font-size: 30px;
        color: #333;
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
        color: #333;
    }
}
.preview-images {
    width: 100%;
}