.title {
    font-weight: bold;
}
.hr-border {
    border-bottom: 1px solid #eee;
}

// input 
ion-select,
ion-input {
    border: 1px solid #eee;
    margin-top: 10px !important;
}
ion-label {
    overflow: initial !important;
    white-space: initial !important;
    font-size: .9rem !important;
}