<ion-header>
  <ion-toolbar color="theme">
    <ion-title>สังเกตร้านค้า</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form #form="ngForm" (ngSubmit)="formData(form)">
    <ion-row>
      <ion-col size="12">
        <ion-label>จังหวัด</ion-label>
        <ion-input type="text" [(ngModel)]="todo.CWT" name="CWT"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>อำเภอ</ion-label>
        <ion-input type="text" [(ngModel)]="todo.ID1" name="ID1"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>ตำบล</ion-label>
        <ion-input type="text" [(ngModel)]="todo.TMP" name="TMP"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>ชุมชน/บ้าน</ion-label>
        <ion-input type="text" [(ngModel)]="todo.VIL" name="VIL"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>หมู่</ion-label>
        <ion-input type="text" [(ngModel)]="todo.MOO" name="MOO"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>ที่ตั้ง</ion-label>
        <ion-input type="text" [(ngModel)]="todo.ADDRESS" name="ADDRESS"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-text>
          <h5>พิกัดพื้นที่ {{latitude}} - {{longitude}}</h5>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" shape="round" type="submit" color="dark">ต่อไป</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </ion-grid>
</ion-content>
