<ion-header>
  <ion-toolbar color="shop">
    <ion-title>{{titleShop}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form #form="ngForm" (ngSubmit)="formData(form)">
    <ion-row>
      <ion-col size="12">
        <ion-label>จังหวัด</ion-label>
        <ion-input type="text" [(ngModel)]="todo.CWT" name="CWT" value="{{province}}" disabled></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>อำเภอ</ion-label>
        <ion-input type="text" [(ngModel)]="todo.ID1" name="ID1" value="{{district}}" disabled></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>ตำบล</ion-label>
        <ion-input type="text" [(ngModel)]="todo.TMP" name="TMP" value="{{subdistrict}}" disabled></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-text>
          <h5>พิกัดพื้นที่ {{latitude}} - {{longitude}}</h5>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" shape="round" type="submit" color="shop">ต่อไป</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </ion-grid>
  <div class="progress-shop">
    <ul>
      <li class="active"><span><ion-icon name="location-sharp" color="danger"></ion-icon></span><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
    </ul>
  </div>
</ion-content>
