<ion-header>
  <ion-toolbar color="family">
    <ion-title class="title-smoke">แบบสัมภาษณ์พฤติกรรมการสูบบุหรี่</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h3>6.ก ปริมาณบุหรี่ที่สูบ (มวนต่อวัน)</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <form [formGroup]="ionicForm" (ngSubmit)="Form()">
          <p>บันทึกช่วยจำ</p>
          <p class="text-danger">ถ้าบอกปริมาณสูบที่ชัดเจนไม่ได้ บันทึก "88"</p>
          <ion-input type="text" inputmode="numeric" maxlength="2" min="1" max="88" formControlName="NO"></ion-input>
          <ion-button type="submit" expand="block" shape="round" color="family" [disabled]="!ionicForm.valid">ตกลง</ion-button>
        </form>
      </ion-col>
      <ion-col size="12">
        <ion-button class="stop-formthree" expand="block" shape="round" color="dark"  (click)="stop()">หยุดชั่วคราว</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="progress-family">
    <ul>
      <li class="active"><ion-icon name="ellipse"></ion-icon></li>
      <li class="active"><ion-icon name="ellipse"></ion-icon></li>
      <li class="active"><ion-icon name="ellipse"></ion-icon></li>
      <li class="active"><span><ion-icon name="location-sharp" color="danger"></ion-icon></span><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
    </ul>
  </div>
</ion-content>
