<ion-header>
  <ion-toolbar color="family">
    <ion-title>อยู่ระหว่างดำเนินการ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-avatar slot="start" class="icon">
        <ion-icon name="newspaper-outline" color="family"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>1 NAME</h3>
        <small><ion-icon name="time-outline"></ion-icon></small>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
