<ion-header>
  <ion-toolbar color="shop">
    <ion-title>อยู่ระหว่างดำเนินการ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full" *ngFor="let data of dataStorage,let i = index">
      <ion-icon name="newspaper-outline" slot="start" class="icon" color="public"></ion-icon>
      <ion-label>
        <h3>{{i+1}} ชื่อสถานที่ {{data.NAME}} ที่ตั้ง {{data.ADDRESS}}</h3>
      </ion-label>
      <ion-icon name="pencil-outline" color="public" slot="end" (click)="formContinue(i)"></ion-icon>
      <ion-icon name="trash-outline" color="danger" slot="end" (click)="delete(i,data.NAME)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
