<ion-header>
  <ion-toolbar color="theme">
    <ion-title>ติดต่อเรา</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img src="assets/images/banner/banner.png" alt="">
      </ion-col>
      <ion-col size="12">
        <ion-text>
          <h3>ข้อมูลเพิ่มเติมติดต่อ</h3>
          <p>สมชาย ใจดี</p>
          <p>0953214521</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
