<ion-tabs>

  <ion-tab-bar slot="bottom" color="theme">
    <!-- <ion-tab-button tab="">
      <ion-icon name="chatbox-ellipses-sharp"></ion-icon>
    </ion-tab-button> -->
    
    <ion-tab-button href="home-new">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>หน้าหลัก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="form">
      <ion-icon name="document-text-sharp"></ion-icon>
      <ion-label>แบบสำรวจ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>ข่าวสาร</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report">
      <ion-icon name="pie-chart-sharp"></ion-icon>
      <ion-label>รายงาน</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
