<ion-tabs>

  <ion-tab-bar slot="bottom" color="theme">
    <!-- <ion-tab-button tab="">
      <ion-icon name="chatbox-ellipses-sharp"></ion-icon>
    </ion-tab-button> -->
    
    <ion-tab-button (click)="home()">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>หน้าหลัก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="form" (click)="tabForm()" [disabled]="permission">
      <ion-icon name="document-text-sharp"></ion-icon>
      <ion-label>แบบเก็บข้อมูล</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>ข่าวสาร</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report" (click)="tabReport()" [disabled]="permission">
      <ion-icon name="pie-chart-sharp"></ion-icon>
      <ion-label>รายงานความก้าวหน้า</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
