<ion-header>
  <ion-toolbar color="theme">
    <ion-title class="title-smoke">แบบสัมภาษณ์พฤติกรรมการสูบบุหรี่</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h3>4ข. สูบมาแล้วกี่เดือน</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <form [formGroup]="ionicForm" (ngSubmit)="Form()">
          <ion-select formControlName="month">
            <ion-select-option value="1">1 เดือน</ion-select-option>
            <ion-select-option value="2">2 เดือน</ion-select-option>
            <ion-select-option value="3">3 เดือน</ion-select-option>
            <ion-select-option value="4">4 เดือน</ion-select-option>
            <ion-select-option value="5">5 เดือน</ion-select-option>
            <ion-select-option value="6">6 เดือน</ion-select-option>
            <ion-select-option value="7">7 เดือน</ion-select-option>
            <ion-select-option value="8">8 เดือน</ion-select-option>
            <ion-select-option value="9">9 เดือน</ion-select-option>
            <ion-select-option value="10">10 เดือน</ion-select-option>
            <ion-select-option value="11">11 เดือน</ion-select-option>
            <ion-select-option value="88">จำไม่ได้</ion-select-option>
          </ion-select>
          <ion-button type="submit" expand="block" shape="round" color="dark" [disabled]="!ionicForm.valid">ตกลง</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
