<ion-header>
  <ion-toolbar color="theme">
    <ion-title>แบบเก็บข้อมูล</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h3>4ข.สูบมาแล้วกี่เดือน</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <form (ngSubmit)="Form()">
          <ion-label>กรอกจำนวนเดือน <span class="text-danger">จำไม่ได้กรอก 88</span></ion-label>
          <ion-input type="text" [(ngModel)]="todo.month" name="month"></ion-input>
          <ion-button type="submit" expand="block" shape="round" color="dark">ตกลง</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
