.list-member {
    margin-bottom: 5px;
}
a {
    text-decoration: none;
}
.btn-answer-family {
    margin-bottom: 0px !important;
    &.fonts-small {
        padding: 10px !important;
        font-size: 14px !important;
    }
}