<ion-header>
  <ion-toolbar color="public">
    <ion-title>แบบสำรวจที่แล้วเสร็จ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="P1A">
      <ion-col size="12">
        <ion-text>
          <h3>1. มีป้ายหรือเครื่องหมายห้ามสูบบุหรี่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-public active" *ngIf="P1A == 1">มี</div>
        <div class="btn-answer-public active" *ngIf="P1A == 2">ไม่มี</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="P2A">
      <ion-col size="12">
        <ion-text>
          <h3>2. ป้ายหรือเครื่องหมายห้ามสูบบุหรี่ที่สังเกตพบ อยู่ภายนอกอาคาร/สิ่งปลูกสร้าง ใช่หรือไม่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-public active" *ngIf="P2A == 1">ใช่</div>
        <div class="btn-answer-public active" *ngIf="P2A == 2">ไม่ใช่</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="P3A">
      <ion-col size="12">
        <ion-text>
          <h3>3. ป้ายหรือเครื่องหมายห้ามสูบบุหรี่ที่สังเกตพบ อยู่ภายในอาคาร ใช่หรือไม่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-public active" *ngIf="P3A == 1">ใช่</div>
        <div class="btn-answer-public active" *ngIf="P3A == 2">ไม่ใช่</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="P4A">
      <ion-col size="12">
        <ion-text>
          <h3>4. ช่วงเวลาที่ลงสำรวจพบเห็นการสูบบุหรี่หรือไม่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-public active" *ngIf="P4A == 1">ไม่พบในบริเวณใดๆ</div>
        <div class="btn-answer-public active" *ngIf="P4A == 2">พบภายในอาคาร/สิ่งปลูกสร้าง</div>
        <div class="btn-answer-public active" *ngIf="P4A == 3">พบบริเวณที่สูบเป็นเขตสูบบุหรี่</div>
        <div class="btn-answer-public active" *ngIf="P4A == 4">พบภายนอกอาคาร/สิ่งปลูกสร้างใดๆ ที่มิได้จัดไว้ให้เป็นเขตสูบบุหรี่</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="P5A">
      <ion-col size="12">
        <ion-text>
          <h3>5. พบการสูบบุหรี่ในรัศมี โดยประมาณ 5 เมตรจากบรเิวณทางเข้า-ออกหลักของสถานที่สาธารณะนั้นๆ ใช่หรือไม่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-public active" *ngIf="P5A == 1">ใช่</div>
        <div class="btn-answer-public active" *ngIf="P5A == 2">ไม่ใช่</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
