<ion-header>
  <ion-toolbar color="theme">
    <ion-title>ติดตามความก้าวหน้าจำแนกการสัมภาษณ์</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <ion-text color="light">
      <p>ชื่อ {{user.name}}</p>
      <p>ชื่อหน่วยงาน {{user.organization_name}}</p>
    </ion-text>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-input type="date"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-input type="date"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="card-report">
          <ion-row>
            <ion-col size="12">
              <p>สังเกตสถานที่สาธารณะ</p>
            </ion-col>
            <ion-col size="12">
              <ion-text class="ion-float-left">
                พื้นที่ 1
              </ion-text>
              <ion-text class="ion-float-right">
                15/100
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <ion-text class="ion-float-left">
                พื้นที่ 2
              </ion-text>
              <ion-text class="ion-float-right">
                10/100
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <ion-text class="ion-float-left">
                พื้นที่ 3
              </ion-text>
              <ion-text class="ion-float-right">
                18/100
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <ion-text class="ion-text-end">
                <p>จำนวนที่เก็บสะสม</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="card-report">
          <ion-row>
            <ion-col size="12">
              <p>สังเกตร้านค้า</p>
            </ion-col>
            <ion-col size="12">
              <ion-text class="ion-float-left">
                พื้นที่ 1
              </ion-text>
              <ion-text class="ion-float-right">
                5/100
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <ion-text class="ion-float-left">
                พื้นที่ 2
              </ion-text>
              <ion-text class="ion-float-right">
                80/100
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <ion-text class="ion-float-left">
                พื้นที่ 3
              </ion-text>
              <ion-text class="ion-float-right">
                77/100
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <ion-text class="ion-text-end">
                <p>จำนวนที่เก็บสะสม</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="card-report">
          <ion-row>
            <ion-col size="12">
              <p>แบบสัมภาษณ์พฤติกรรมการสูบบุหรี่</p>
            </ion-col>
            <ion-col size="12">
              <ion-text class="ion-float-left">
                พื้นที่ 1
              </ion-text>
              <ion-text class="ion-float-right">
                6/100
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <ion-text class="ion-float-left">
                พื้นที่ 2
              </ion-text>
              <ion-text class="ion-float-right">
                47/100
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <ion-text class="ion-float-left">
                พื้นที่ 3
              </ion-text>
              <ion-text class="ion-float-right">
                36/100
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <ion-text class="ion-text-end">
                <p>จำนวนที่เก็บสะสม</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
