<ion-header>
  <ion-toolbar color="theme">
    <ion-title>แบบเก็บข้อมูล</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="card-lists-form">
          <ion-row>
            <ion-col size="12">
              <img src="assets/images/logo/03.png" alt="" class="logo-form">
              <!-- <div class="lists-content">
                <ion-text color="danger">
                  <h3><b>สังเกตสถานะที่สาธารณะ</b></h3>
                </ion-text>
              </div> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <!-- <ion-button expand="block" color="theme" routerLink="form-step1/1">แบบสอบถาม</ion-button> -->
              <!-- <ion-button expand="block" color="theme" routerLink="form">แบบเก็บข้อมูล</ion-button> -->
              <ion-button expand="block" shape="round" color="theme" routerLink="/formone">สังเกตสถานะที่สาธารณะ</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" shape="round" fill="outline" color="success" routerLink="formone-lists/1" size="small">แล้วเสร็จ</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" shape="round" fill="outline" color="warning" size="small">อยู่ระหว่างดำเนินการ</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="card-lists-form">
          <ion-row>
            <ion-col size="12">
              <img src="assets/images/logo/02.jpeg" alt="" class="logo-form">
              <!-- <div class="lists-content">
                <ion-text color="danger">
                  <h3><b>สังเกตร้านค้า</b></h3>
                </ion-text>
              </div> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" shape="round" color="theme" routerLink="/formtwo">สังเกตร้านค้า</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" shape="round" fill="outline" color="success" routerLink="formtwo-lists/2" size="small">แล้วเสร็จ</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" shape="round" fill="outline" color="warning" size="small">อยู่ระหว่างดำเนินการ</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="card-lists-form">
          <ion-row>
            <ion-col size="12">
              <img src="assets/images/logo/01.jpeg" alt="" class="logo-form">
              <!-- <div class="lists-content">
                <ion-text color="danger">
                  <h3><b>แบบสัมภาษณ์พฤติกรรมการสูบบุหรี่</b></h3>
                </ion-text>
              </div> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" shape="round" color="theme" routerLink="/formthree">แบบสัมภาษณ์พฤติกรรมการสูบบุหรี่</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" shape="round" fill="outline" color="success" routerLink="formthree-lists" size="small">แล้วเสร็จ</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" shape="round" fill="outline" color="warning" size="small">อยู่ระหว่างดำเนินการ</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
