<ion-header>
  <ion-toolbar color="theme">
    <ion-title>แบบสอบถาม</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="card-lists-form">
          <ion-row>
            <ion-col size="2">
              <ion-icon name="logo-no-smoking" color="danger"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <div class="lists-content">
                <ion-text color="danger">
                  <h3>สังเกตุร้านค้า</h3>
                </ion-text>
                <!-- <p>แล้วเสร็จ 0/100</p> -->
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="full" color="success" routerLink="/tabs/form-lists">แล้วเสร็จ 15/100</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="full" color="primary" routerLink="/tabs/form-lists">อยู่ระหว่างดำเนินการ 1</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="card-lists-form">
          <ion-row>
            <ion-col size="2">
              <ion-icon name="logo-no-smoking" color="danger"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <div class="lists-content">
                <ion-text color="danger">
                  <h3>สังเกตุสถานะที่สาธารณะ</h3>
                </ion-text>
                <!-- <p>แล้วเสร็จ 0/100</p> -->
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="full" color="success" routerLink="/tabs/form-lists">แล้วเสร็จ 15/100</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="full" color="primary" routerLink="/tabs/form-lists">อยู่ระหว่างดำเนินการ 1</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="card-lists-form">
          <ion-row>
            <ion-col size="2">
              <ion-icon name="logo-no-smoking" color="danger"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <div class="lists-content">
                <ion-text color="danger">
                  <h3>สัมภาษณ์พฤติกรรมการสูบบุหรี่</h3>
                </ion-text>
                <!-- <p>แล้วเสร็จ 0/100</p> -->
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="full" color="success" routerLink="/tabs/form-lists">แล้วเสร็จ 15/100</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="full" color="primary" routerLink="/tabs/form-lists">อยู่ระหว่างดำเนินการ 1</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-content>
  <div class="profile">
    <ion-row>
      <ion-col size="3">
        <div class="profile-img">
          <ion-avatar>
            <img src="assets/images/user.png">
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col size="9">
        <div class="profile-content">
          <p>เจ้าหน้าที่ : สมชาย ใจดี</p>
          <p>หน่วยงาน อบต.</p>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text color="danger">
          <h4 class="title">รายการแบบสอบถาม</h4>
          <hr class="hr-border">
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item lines="none" routerLink="/tabs/form/form-step1">
      <ion-avatar slot="start">
        <ion-icon name="document-text-sharp" color="danger"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>สังเกตุร้านค้า</h3>
        <p>แล้วเสร็จ 0/10</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/tabs/form/form-step1">
      <ion-avatar slot="start">
        <ion-icon name="document-text-sharp" color="danger"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>สังเกตุสถานะที่สาธารณะ</h3>
        <p>แล้วเสร็จ 0/100</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" routerLink="/tabs/form/form-step1">
      <ion-avatar slot="start">
        <ion-icon name="document-text-sharp" color="danger"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>สัมภาษณ์พฤติกรรมการสูบบุหรี่</h3>
        <p>แล้วเสร็จ 0/100</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->
