.title {
    font-weight: bold;
}
.hr-border {
    border-bottom: 1px solid #eee;
}

ion-avatar {
    ion-icon {
        font-size: 35px;
    }
}
ion-label {
    h3 {
        font-weight: bold;
    }
    p {
        color: green;
    }
}

.profile {
    padding: 10px 0;
    background-color: #eb445a;
    
    .profile-content {
        margin-top: 10px;
        p {
            margin-bottom: 0;
            margin-top: 0;
            color: #fff;
        }
    }
}


// new
.card-lists-form {
    // background-color: #5c2d90;
    background-color: #f4f4f4;
    color: #333;
    padding: 5px 0;
    margin-top: 20px;
    ion-icon {
        font-size: 60px;
        margin-top: -30px;
    }
    .lists-content {
        padding-left: 10px;
        h3 {
            margin-top: 0;
            font-size: 19px;
        }
        p {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 14px;
        }
    }
}