<ion-header>
  <ion-toolbar color="theme">
    <ion-title class="title-smoke">{{titleHead}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <ion-text color="light">
      <p>ชื่อ {{user.name}}</p>
      <p>ชื่อหน่วยงาน {{user.organization_name}}</p>
    </ion-text>
    <form [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">วันที่เริ่มงาน</ion-label>
          <ion-input type="date" formControlName="dateStart"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">วันที่สิ้นสุดงาน</ion-label>
          <ion-input type="date" formControlName="dateEnd"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <div class="box-numdate">
          <p><b>รวมวันเก็บข้อมูล</b></p>
          <p class="mb-0"><b class="text-number-report">{{numDay}}</b> วัน</p>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-button color="primary" expand="block" type="submit" [disabled]="!todo.valid">ค้นหา</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </div>
  <ion-grid>
    <ion-row *ngIf="formData == true">
      <ion-col size="12">
        <ion-text class="ion-text-center">
          <p class="my-0">{{titleHead}}</p>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-row>
          <ion-col size="3">
          </ion-col>
          <ion-col size="8">
            <ion-text class="ion-text-center">
              <p class="my-0">จำนวน ({{titleCount}})</p>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
          </ion-col>
          <ion-col>
            <ion-text class="ion-text-center">
              <p class="my-0">ทั้งหมด</p>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text class="ion-text-center">
              <p class="my-0">เก็บวันนี้</p>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text class="ion-text-center">
              <p class="my-0">สะสม</p>
            </ion-text>
          </ion-col>
          <ion-col *ngIf="id == 3">
            <ion-text class="ion-text-center">
              <p class="my-0">รวม(คน)</p>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let data of dataDetail">
          <ion-col size="3">
            <ion-text>
              <p>{{data.fullname}}</p>
            </ion-text>
          </ion-col>
          <ion-col>
            <div class="card-num">
              <p>{{data.total}}</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="card-num">
              <p>{{data.sum_today}}</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="card-num">
              <p>{{data.sum}}</p>
            </div>
          </ion-col>
          <ion-col *ngIf="id == 3">
            <div class="card-num">
              <p>{{data.sum_people}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12">
        <ion-row>
          <ion-col size="3">
            <ion-text>
              <p>รวมทั้งหมด</p>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text class="ion-text-center">
              <p>{{sumTotal}}</p>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text class="ion-text-center">
              <p>{{sumToday}}</p>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text class="ion-text-center">
              <p>{{sumSum}}</p>
            </ion-text>
          </ion-col>
          <ion-col *ngIf="id == 3">
            <ion-text class="ion-text-center">
              <p>{{sumPeople}}</p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
