<ion-header>
  <ion-toolbar color="theme">
    <ion-title>รายงานความก้าวหน้า</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <ion-text color="light">
      <p>ชื่อ {{user.name}}</p>
      <p>ชื่อหน่วยงาน {{user.organization_name}}</p>
    </ion-text>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="card-report" routerLink="report-head-people">
          <h5>ติดตามความก้าวหน้ารายบุคคล</h5>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="card-report" routerLink="report-head-lists">
          <h5>ติดตามความก้าวหน้าจำแนกการสัมภาษณ์  สาธารณะ</h5>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
