<ion-header>
  <ion-toolbar color="dark">
    <ion-title>รายละเอียด</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <img src="https://www.fillmurray.com/640/360" alt="">
  </div>
  <div class="container">
    <h5>ลาตินว้าวริคเตอร์ซังเตคอร์ส สต็อก</h5>
    <p>เพรียวบาง เฉิ่มไลน์เกย์ กรุ๊ป เดโมโฮปดาวน์ดีพาร์ทเมนต์ พันธุวิศวกรรมแคร็กเกอร์ สามช่าแคร์เจไดพุทธภูมิบลูเบอร์รี รันเวย์โยโย่ฮิปฮอป ธรรมาภิบาลเกรย์อัลบัม ทอมแพนดาจีดีพีเวณิกา บ๋อยสารขัณฑ์โชห่วยเวณิกาแครกเกอร์ ฮอตพลาซ่าคาสิโนแอดมิชชั่น ว้อยไฮไลต์บัตเตอร์แมกกาซีน ซาตานแซ็กตื้บติวเตอร์เตี๊ยม ควีน ฮองเฮาโมเดิร์นบัลลาสต์สึนามิ ซะสติกเกอร์เบิร์ดโพลล์สตรอว์เบอร์รี</p>
  </div>
</ion-content>
