<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar color="light">
        <ion-title>เมนู</ion-title>
      </ion-toolbar>
    </ion-header> 
    <ion-content color="theme">
      <ion-list>
        <ion-menu-toggle>
          <ion-item color="theme" lines="full" routerLink="home-new">
            <ion-icon name="home-sharp" slot="start"></ion-icon>
            <ion-label>หน้าหลัก</ion-label>
          </ion-item>
          <ion-item color="theme" lines="full" routerLink="tabs/news">
            <ion-icon name="newspaper-sharp" slot="start"></ion-icon>
            <ion-label>ข่าวสาร</ion-label>
          </ion-item>
          <ion-item color="theme" lines="full" routerLink="tabs/contact">
            <ion-icon name="paper-plane" slot="start"></ion-icon>
            <ion-label>ติดต่อเรา</ion-label>
          </ion-item>

          <ion-item color="theme" *ngIf="!userId" lines="full" routerLink="signin">
            <ion-icon name="person-sharp" slot="start"></ion-icon>
            <ion-label>เข้าสู่ระบบ</ion-label>
          </ion-item>
          <ion-item color="theme" *ngIf="!userId" lines="full" routerLink="tabs/register">
            <ion-icon name="person-sharp" slot="start"></ion-icon>
            <ion-label>ลงทะเบียน</ion-label>
          </ion-item>

          <ion-item color="light" lines="full"  *ngIf="userId">
            <ion-icon name="person-sharp" slot="start"></ion-icon>
            <ion-label>{{fullname}}</ion-label>
          </ion-item>
          <ion-item color="theme" *ngIf="userId" lines="full" routerLink="tabs/profile">
            <ion-icon name="person-sharp" slot="start"></ion-icon>
            <ion-label>ข้อมูลส่วนตัว</ion-label>
          </ion-item>
          <ion-item color="theme" *ngIf="userId" lines="full" routerLink="tabs/re-password">
            <ion-icon name="person-sharp" slot="start"></ion-icon>
            <ion-label>เปลี่ยนรหัสผ่าน</ion-label>
          </ion-item>
          <ion-item color="theme" *ngIf="userId" lines="full" (click)="logout()">
            <ion-icon name="log-out-sharp" slot="start"></ion-icon>
            <ion-label>ออกจากระบบ</ion-label>
          </ion-item>
          <ion-item color="theme" lines="none">
            <ion-label>version 1.0.3</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
