<ion-header>
  <ion-toolbar color="family">
    <ion-title>แบบสำรวจที่แล้วเสร็จ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="showAge == 'show'">
      <ion-col size="12">
        <ion-text>
          <h3>อายุต่ำกว่า 14</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="SMOKE">
      <ion-col size="12">
        <ion-text>
          <h3>1. ปัจจุบันสูบบุหรี่หรือไม่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family active" *ngIf="SMOKE == 1">ไม่สูบ</div>
        <div class="btn-answer-family active" *ngIf="SMOKE == 2">สูบบางวัน</div>
        <div class="btn-answer-family active" *ngIf="SMOKE == 3">สูบทุกวัน</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="EVERSMOKE">
      <ion-col size="12">
        <ion-text>
          <h3>2. ในอดีตเคยสูบบุหรีหรือไม่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family active" *ngIf="EVERSMOKE == 1">ไม่สูบ</div>
        <div class="btn-answer-family active" *ngIf="EVERSMOKE == 2">เคยสูบ</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="EXSMOKE_Y">
      <ion-col size="12">
        <ion-text>
          <h3>3ก. เลิกสูบมาแล้วกี่ปี</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family active" *ngIf="EXSMOKE_Y">{{EXSMOKE_Y}}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="EXSMOKE_M">
      <ion-col size="12">
        <ion-text>
          <h3>3ข. เลิกสูบมาแล้วกี่เดือน</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family active" *ngIf="EXSMOKE_M">{{EXSMOKE_M}}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="TIME_Y">
      <ion-col size="12">
        <ion-text>
          <h3>4ก. สูบมาแล้วกี่ปี</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family active" *ngIf="TIME_Y">{{TIME_Y}}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="TIME_M">
      <ion-col size="12">
        <ion-text>
          <h3>4ข. สูบมาแล้วกี่เดือน</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family active" *ngIf="TIME_M">{{TIME_M}}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="CIG">
      <ion-col size="12">
        <ion-text>
          <h3>สูบบุหรี่ประเภทใด</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family active">สูบบุหรี่โรงงาน</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="ROLL">
      <ion-col size="12">
        <ion-text>
          <h3>สูบบุหรี่ประเภทใด</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family active">สูบบุหรี่มวนเอง</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="NO1">
      <ion-col size="12">
        <ion-text>
          <h3>ปริมาณบุหรี่ที่สูบ (มวนต่อวัน)</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family active" *ngIf="NO1">ปริมาณบุหรี่ที่สูบ (มวนต่อวัน) {{NO1}}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="E_CIG">
      <ion-col size="12">
        <ion-text>
          <h3>สูบบุหรี่ประเภทใด</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family active">สูบบุหรี่ไฟฟ้า</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="OTHER">
      <ion-col size="12">
        <ion-text>
          <h3>สูบบุหรี่ประเภทใด</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family active">สูบบุหรี่อื่นๆ เช่น ไปป์ บารากู่ ซิการ์ </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="RESPONSE">
      <ion-col size="12">
        <ion-text>
          <h3>ผู้ตอบสัมภาษณ์ให้ข้อมูลด้วยตนเองใช่หรือไม่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family active" *ngIf="RESPONSE == 1">ใช่</div>
        <div class="btn-answer-family active" *ngIf="RESPONSE == 2">ไม่ใช่</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="TYPE_CIG">
      <ion-col size="12">
        <ion-text>
          <h3>10. ครั้งสุดท้ายที่ซื้อบุหรี่โรงงานมาสูบท่านซื้อมาในรูปแบบใด</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family active" *ngIf="TYPE_CIG == 1">ซื้อเป็นซอง</div>
        <div class="btn-answer-family active" *ngIf="TYPE_CIG == 2">ซื้อเป็นมวน</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="SECOND">
      <ion-col size="12">
        <ion-text>
          <h3>11. ในรอบ 30 วันที่ผ่านมาเคยสูบบุหรี่ภายในตัวบ้านหรือไม่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family active" *ngIf="SECOND == 1">ทุกวัน</div>
        <div class="btn-answer-family active" *ngIf="SECOND == 2">บางวัน</div>
        <div class="btn-answer-family active" *ngIf="SECOND == 3">ไม่เคยสูบบุหรี่ในตัวบ้านเลย</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="QUITE_CHECK">
      <ion-col size="12">
        <ion-text>
          <h3>12. คิดอยากจะเลิกสูบบุหรี่หรือไม่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family active" *ngIf="QUITE_CHECK == 1">ไม่คิดอยากจะเลิก</div>
        <div class="btn-answer-family active" *ngIf="QUITE_CHECK == 2">คิดอยากจะเลิกสูบบุหรี่</div>
        <div class="btn-answer-family active" *ngIf="QUITE_CHECK == 3">คิดจะเลิกสูบภายใน 6 เดือนข้างหน้า</div>
        <div class="btn-answer-family active" *ngIf="QUITE_CHECK == 4">คิดจะเลิกสูบภายใน 30 วันข้างหน้า</div>
        <div class="btn-answer-family active" *ngIf="QUITE_CHECK == 5">คิดจะเลิกสูบภายใน 30 วันข้างหน้าและเคยเลิกสูบได้สำเร็จ <br>อย่างน้อย 1 วัน</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
