<ion-header>
  <ion-toolbar color="family">
    <ion-title class="title-smoke">แบบสัมภาษณ์พฤติกรรมการสูบบุหรี่</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h3>7. สูบบุหรี่ไฟฟ้า หรือไม่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-family" (click)="form($event)" id="1">สูบ</div>
        <div class="btn-answer-family" (click)="form($event)" id="2">ไม่สูบ</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
