<ion-header>
  <ion-toolbar color="theme">
    <ion-title>แบบเก็บข้อมูล</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h3>12. คิดอยากจะเลิกสูบบุหรี่หรือไม</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer" (click)="form($event)" id="ไม่คิดอยากจะเลิก">ไม่คิดอยากจะเลิก</div>
        <div class="btn-answer" (click)="form($event)" id="คิดอยากจะเลิกสูบบุหรี่">คิดอยากจะเลิกสูบบุหรี่</div>
        <div class="btn-answer" (click)="form($event)" id="คิดจะเลิกสูบภายใน 6 เดือนข้างหน้า">คิดจะเลิกสูบภายใน 6 เดือนข้างหน้า</div>
        <div class="btn-answer" (click)="form($event)" id="คิดจะเลิกสูบภายใน 30 วันข้างหน้า">คิดจะเลิกสูบภายใน 30 วันข้างหน้า</div>
        <div class="btn-answer" (click)="form($event)" id="คิดจะเลิกสูบภายใน 30 วันข้างหน้าและเคยเลิกสูบได้สำเร็จอย่างน้อย 1 วัน">คิดจะเลิกสูบภายใน 30 วันข้างหน้าและเคยเลิกสูบได้สำเร็จอย่างน้อย 1 วัน</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
