<ion-header>
  <ion-toolbar color="theme">
    <ion-title>แบบสัมภาษณ์พฤติกรรมการสูบบุหรี่</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h3>สูบบุหรี่ประเภทใด</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer" (click)="form($event)" id="บุหรี่โรงงาน">บุหรี่โรงงาน</div>
        <div class="btn-answer" (click)="form($event)" id="บุหรี่มวนเอง">บุหรี่มวนเอง</div>
        <div class="btn-answer" (click)="form($event)" id="บุหรี่ไฟฟ้า">บุหรี่ไฟฟ้า</div>
        <div class="btn-answer" (click)="form($event)" id="อื่นๆ เช่น ไปป์ บารากู่ ซิการ์ เป็นต้น">อื่นๆ เช่น ไปป์ บารากู่ ซิการ์ เป็นต้น</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
