<ion-header>
  <ion-toolbar color="theme">
    <ion-title>แบบเก็บข้อมูล</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h3>3.ช่วงเวลาที่ลงสำรวจพบเห็นการสูบบุหรี่หรือไม่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer" routerLink="form-step5">ไม่พบในบริเวณใดๆ</div>
        <div class="btn-answer" routerLink="form-step5">พบภายในอาคาร/สิ่งปลกูสร้าง</div>
        <div class="btn-answer" routerLink="form-step5">พบบริเวณที่จัดเป็นเขตสบูบุหรี่</div>
        <div class="btn-answer" routerLink="form-step5">พบภายนอกอาคาร/สิ่งปลกูสร้างใดๆ ที่มิได้จัดไว้ให้เป็นเขตสูบบุหรี่</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
