<ion-header>
  <ion-toolbar color="theme">
    <ion-title>รายงานความก้าวหน้า</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <ion-row>
      <ion-col size="12">
        <ion-text color="light">
          <p class="ion-no-margin">ชื่อ {{user.name}}</p>
          <p class="ion-no-margin">ชื่อหน่วยงาน {{user.organization_name}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <form [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">วันที่เริ่มงาน</ion-label>
          <ion-input type="date" formControlName="dateStart"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">วันที่สิ้นสุดงาน</ion-label>
          <ion-input type="date" formControlName="dateEnd"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <div class="box-numdate">
          <p>รวมวันเก็บข้อมูล</p>
          <p>{{numDay}} วัน</p>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label>เลือกพื้นที่</ion-label>
          <ion-select value="1" okText="ตกลง" cancelText="ยกเลิก" formControlName="location" (ionChange)="selectlocation()">
            <ion-select-option value="1">รวมทุกพื้นที่</ion-select-option>
            <ion-select-option value="2">เทศบาลนคร/เมือง</ion-select-option>
            <ion-select-option value="3">เทศบาลตำบล</ion-select-option>
            <ion-select-option value="4">องค์การบริหารส่วนตำบล</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="{{display}}">
          <ion-label>เทศบาลนคร/เมือง</ion-label>
          <ion-select value="1" okText="ตกลง" cancelText="ยกเลิก" formControlName="locationSub">
            <ion-select-option value="1">เทศบาลนคร 1</ion-select-option>
            <ion-select-option value="2">เทศบาลนคร 2</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button color="primary" expand="block" type="submit" [disabled]="!todo.valid">ค้นหา</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </div>
  <ion-grid>
    <ion-row *ngIf="formData == true">
      <ion-col size="12">
        <div class="card-report public" *ngIf="id == 1">
          <ion-row>
            <ion-col size="12">
              <ion-text class="ion-text-center">
                <h5><b>สังเกตสถานที่สาธารณะ {{numDay}} วัน</b></h5>
              </ion-text>
            </ion-col>  
            <ion-col size="6">
              <div class="box">
                <p><b>จำนวนทั้งหมด</b></p>
                <p><b>100</b> แห่ง</p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="box">
                <p><b>วันนี้</b></p>
                <p><b>8</b> แห่ง</p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="box">
                <p><b>สะสม</b></p>
                <p><b>100</b> แห่ง</p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="box">
                <p><b>ร้อยละความสำเร็จ</b></p>
                <p><b>1.00</b> %</p>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="card-report shop" *ngIf="id == 2">
          <ion-row>
            <ion-col size="12">
              <ion-text class="ion-text-center">
                <h5><b>สังเกตร้านค้า {{numDay}} วัน</b></h5>
              </ion-text>
            </ion-col>
            <ion-col size="6">
              <div class="box">
                <p><b>จำนวนทั้งหมด</b></p>
                <p><b>100</b> ร้าน</p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="box">
                <p><b>วันนี้</b></p>
                <p><b>8</b> ร้าน</p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="box">
                <p><b>สะสม</b></p>
                <p><b>100</b> ร้าน</p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="box">
                <p><b>ร้อยละความสำเร็จ</b></p>
                <p><b>1.00</b> %</p>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="card-report family" *ngIf="id == 3">
          <ion-row>
            <ion-col size="12">
              <ion-text class="ion-text-center">
                <h5><b>แบบสัมภาษณ์พฤติกรรมการสูบบุหรี่ {{numDay}} วัน</b></h5>
              </ion-text>
            </ion-col>
            <ion-col size="6">
              <div class="box">
                <p><b>จำนวนทั้งหมด</b></p>
                <p><b>100</b> ครัวเรือน</p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="box">
                <p><b>วันนี้</b></p>
                <p><b>8</b> ครัวเรือน</p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="box">
                <p><b>สะสม</b></p>
                <p><b>100</b> ครัวเรือน</p>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="box">
                <p><b>ร้อยละความสำเร็จ</b></p>
                <p><b>1.00</b> %</p>
              </div>
            </ion-col>
            <ion-col size="12">
              <div class="box">
                <p><b>ผู้ได้รับการสัมภาษณ์ทั้งหมด</b></p>
                <p><b>100</b> คน</p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <!-- <ion-col size="12">
        <ion-text>
          <p>ผลการสังเกตสถานที่สาธารณะ (แห่ง)</p>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="card-report">
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-text>
                <p>นาย ก</p>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text class="ion-text-center">
                <p>จำนวนทั้งหมด</p>
                <p>88</p>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text class="ion-text-center">
                <p>จำนวนเก็บวันนี้</p>
                <p>20</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="card-report">
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-text>
                <p>นาง ใจดี นามสกุล</p>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text class="ion-text-center">
                <p>จำนวนทั้งหมด</p>
                <p>88</p>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text class="ion-text-center">
                <p>จำนวนเก็บวันนี้</p>
                <p>20</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="card-report">
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <ion-text>
                <p>นาย สมชาย นามสกุล</p>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text class="ion-text-center">
                <p>จำนวนทั้งหมด</p>
                <p>88</p>
              </ion-text>
            </ion-col>
            <ion-col size="4">
              <ion-text class="ion-text-center">
                <p>จำนวนเก็บวันนี้</p>
                <p>20</p>
              </ion-text>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-text>
          <p>สรุป จำนวนทั้งหมด 240/250 แห่ง</p>
        </ion-text>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>

