<ion-header>
  <ion-toolbar color="dark">
    <ion-title>แบบสอบถาม</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/tabs/form-lists/form-step1" lines="full">
      <ion-label>
        <h3>รามเทพ แจ๊กพอตเพทนาการ</h3>
        <small>17/11/2021 15:30</small>
      </ion-label>
    </ion-item>
    <ion-item routerLink="/tabs/form-lists/form-step1" lines="full">
      <ion-label>
        <h3>รามเทพ แจ๊กพอตเพทนาการ</h3>
        <small>17/11/2021 12:11</small>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
