.title {
    font-weight: bold;
}
.hr-border {
    border-bottom: 1px solid #eee;
}

// input 
ion-select,
ion-input {
    border: 1px solid #eee;
    margin-top: 10px !important;
}
// ion-label {
//     overflow: initial !important;
//     white-space: initial !important;
//     font-size: .9rem !important;
// }

ion-item {
    border: 2px solid #4097AA;
    --background-activated: transparent;
    --ripple-color: transparent;
}
ion-label {
    color: #4097AA;
    overflow: initial !important;
    white-space: initial !important;
    font-size: .9rem !important;
}
.question-a1 {
    --ion-item-color: #333;

    &:not(:last-child) {
        margin-bottom: 2.5%;
    }
  
    &.item-radio-checked {
        --ion-item-background: #4097AA;
        --ion-item-color: #333;
    }
    ion-radio {
        margin-bottom: 0px;
        margin-right: 0px;
        --color:transparent;
        --color-checked: transparent;
        width: 0 !important;
    }
}


.upload-images {
    display: block;
    background-color: #eee;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    ion-icon {
        font-size: 30px;
        color: #333;
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
        color: #333;
    }
}
.preview-images {
    width: 100%;
}