<ion-header>
  <ion-toolbar color="theme">
    <ion-title>โปรไฟล์</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form (ngSubmit)="form()">
    <ion-row>
      <ion-col size="12">
        <div class="upload-profile" (click)="openGallery()">
          <img src="{{image}}" width="100" height="100">
          <ion-icon name="camera-sharp"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label position="floating">ชื่อ</ion-label>
          <ion-input type="text" [(ngModel)]="todo.name" name="name" value="{{name}}" disabled></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label position="floating">สกุล</ion-label>
          <ion-input type="text" [(ngModel)]="todo.lastname" name="lastname" value="{{lastname}}" disabled></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label position="floating">เบอร์โทรศัพท์</ion-label>
          <ion-input type="text" inputmode="numeric" maxlength="10" [(ngModel)]="todo.phone" name="phone" value="{{phone}}"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label position="floating">ชื่อหน่วยงาน</ion-label>
          <ion-input type="text" [(ngModel)]="todo.organization_name" name="organization_name" value="{{organization_name}}" disabled></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label position="floating">จังหวัด</ion-label>
          <ion-input type="phone" value="{{detailProvince.provinces}}" disabled></ion-input>
          <!-- <ion-select [(ngModel)]="todo.province" name="province" [compareWith]="compareWith" value="{{province}}">
            <ion-select-option *ngFor="let dataprovinces of dataProvince" value="{{dataprovinces.id_provinces}}">{{dataprovinces.provinces}}</ion-select-option>
          </ion-select> -->
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label position="floating">อำเภอ</ion-label>
          <ion-input type="phone" value="{{detailProvince.amphures}}" disabled></ion-input>
          <!-- <ion-select [(ngModel)]="todo.district" name="district" [compareWith]="compareWith" value="{{district}}">
            <ion-select-option *ngFor="let dataamphures of dataAmphures" value="{{dataamphures.id_amphures}}">{{dataamphures.amphures}}</ion-select-option>
          </ion-select> -->
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label position="floating">ตำบล</ion-label>
          <ion-input type="phone" value="{{detailProvince.tombons}}" disabled></ion-input>
          <!-- <ion-select [(ngModel)]="todo.subdistrict" name="subdistrict" [compareWith]="compareWith" value="{{subdistrict}}">
            <ion-select-option *ngFor="let datatombons of dataTombons" value="{{datatombons.id_tombons}}">{{datatombons.tombons}}</ion-select-option>
          </ion-select> -->
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button type="submit" expand="full" shape="round" color="theme">แก้ไข</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </ion-grid>
</ion-content>
