<ion-header>
  <ion-toolbar color="theme">
    <ion-title>ข้อมูลส่วนตัว</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-card-header>
      <div class="upload-profile">
        <div *ngIf="profile">
          <img src="assets/images/profile/{{profile}}.png" width="100">
        </div>
        <div *ngIf="!profile">
          <img src="assets/images/profile/g1.png" width="100">
        </div>
      </div>
    </ion-card-header>
  
    <ion-card-content>
      <form (ngSubmit)="form()">
        <ion-item lines="full">
          <ion-label position="floating">ชื่อ</ion-label>
          <ion-input type="text" [(ngModel)]="todo.name" name="name" value="{{name}}" disabled></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">สกุล</ion-label>
          <ion-input type="text" [(ngModel)]="todo.lastname" name="lastname" value="{{lastname}}" disabled></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">เบอร์โทรศัพท์</ion-label>
          <ion-input type="text" inputmode="numeric" maxlength="10" [(ngModel)]="todo.phone" name="phone" value="{{phone}}"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">ชื่อหน่วยงาน</ion-label>
          <ion-input type="text" [(ngModel)]="todo.organization_name" name="organization_name" value="{{organization_name}}" disabled></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">จังหวัด</ion-label>
          <ion-input type="phone" value="{{detailProvince.provinces}}" disabled></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">อำเภอ</ion-label>
          <ion-input type="phone" value="{{detailProvince.amphures}}" disabled></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">ตำบล</ion-label>
          <ion-input type="phone" value="{{detailProvince.tombons}}" disabled></ion-input>
        </ion-item>
        <ion-button type="submit" expand="full" shape="round" color="theme">บันทึก</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-button expand="block" size="large" color="danger" (click)="confirmCancelMember()">ยกเลิกสมาชิก</ion-button>
  </ion-card>
</ion-content>
