<ion-header>
  <ion-toolbar color="theme">
    <ion-title>โปรไฟล์</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form (ngSubmit)="form()">
    <ion-row>
      <ion-col size="3">
        <div class="upload-profile" (click)="openGallery()">
          <img src="{{image}}">
          <ion-icon name="camera-sharp"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label position="floating">ชื่อ</ion-label>
          <ion-input type="text" [(ngModel)]="todo.name" name="name" value="{{name}}"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label position="floating">สกุล</ion-label>
          <ion-input type="text" [(ngModel)]="todo.lastname" name="lastname" value="{{lastname}}"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label position="floating">เบอร์โทรศัพท์</ion-label>
          <ion-input type="number" [(ngModel)]="todo.phone" name="phone" value="{{phone}}"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label position="floating">ชื่อหน่วยงาน</ion-label>
          <ion-input type="text" [(ngModel)]="todo.organization_name" name="organization_name" value="{{organization_name}}"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label position="floating">ตำบล</ion-label>
          <ion-input type="text" [(ngModel)]="todo.subdistrict" name="subdistrict" value="{{subdistrict}}"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label position="floating">อำเภอ</ion-label>
          <ion-input type="text" [(ngModel)]="todo.district" name="district" value="{{district}}"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="full">
          <ion-label position="floating">จังหวัด</ion-label>
          <ion-input type="text" [(ngModel)]="todo.province" name="province" value="{{province}}"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button type="submit" expand="full" shape="round" color="theme">แก้ไข</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </ion-grid>
</ion-content>
