.upload-profile {
    // border: 2px solid #209d96;
    display: block;
    position: relative;
    img {
        border-radius: 50%;
        // border: 2px solid #209d96;
    }
    ion-icon {
        position: relative;
        bottom: 0px;
        right: 30px;
        background: #209d96;
        color: #fff;
        border-radius: 50%;
        padding: 5px;
    }
}