<ion-header>
  <ion-toolbar color="theme">
    <ion-title>{{titlePub}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h3>2. ป้ายหรือเครื่องหมายห้ามสูบบุหรี่ที่สังเกตพบ <b>อยู่ภายนอกอาคาร/สิ่งปลูกสร้าง</b> ใช่หรือไม่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer" (click)="form($event)" id="ใช่">ใช่</div>
        <div class="btn-answer" (click)="form($event)" id="ไม่ใช่">ไม่ใช่</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
