<ion-header>
  <ion-toolbar color="public">
    <ion-title>{{titlePub}}</ion-title>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/"></ion-back-button> -->
      <ion-back-button defaultHref="" (click)="backPage()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h3>2. ป้ายหรือเครื่องหมายห้ามสูบบุหรี่ที่สังเกตพบ <b>อยู่ภายนอกอาคาร/สิ่งปลูกสร้าง</b> ใช่หรือไม่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer-public" (click)="form($event)" id="1">ใช่</div>
        <div class="btn-answer-public" (click)="form($event)" id="2">ไม่ใช่</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="progress">
    <ul>
      <li class="active"><ion-icon name="ellipse"></ion-icon></li>
      <li class="active"><ion-icon name="ellipse"></ion-icon></li>
      <li class="active"><ion-icon name="ellipse"></ion-icon></li>
      <li class="active"><ion-icon name="ellipse"></ion-icon></li>
      <li class="active"><ion-icon name="ellipse"></ion-icon></li>
      <li class="active"><span><ion-icon name="location-sharp" color="danger"></ion-icon></span><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
    </ul>
  </div>
</ion-content>
