<ion-header>
  <ion-toolbar color="theme">
    <ion-title>แบบสัมภาษณ์พฤติกรรมการสูบบุหรี่</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h3>11. ในรอบ 30 วันที่ผ่านมาเคยสูบบุหรี่ภายในตัวบ้านหรือไม่</h3>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <div class="btn-answer" (click)="form($event)" id="ทุกวัน">ทุกวัน</div>
        <div class="btn-answer" (click)="form($event)" id="บางวัน">บางวัน</div>
        <div class="btn-answer" (click)="form($event)" id="ไม่เคยสูบบุหรี่ในตัวบ้านเลย">ไม่เคยสูบบุหรี่ในตัวบ้านเลย</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
