#container {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-40%);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    h3 {
      text-align: center;
      margin-bottom: 20px;
      font-weight: bold;
    }
    ion-button {
      margin-bottom: 30px;
    }
    a {
      color: indigo;
      text-decoration: none;
    }
    ion-item {
      margin-bottom: 20px;
    }
}
  
  