/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {   
    font-family: 'sarabun';    
    src: url('assets/fonts/Sarabun/Sarabun-Medium.ttf');
}
ion-content,ion-title { 
    font-family:sarabun !important;
}
ion-label {
    font-family:sarabun !important;
}
ion-list {
    ion-item {
        font-family: sarabun !important;
    }
}
ion-label {
    font-family: sarabun !important;
}
.ion-color-theme {
    --ion-color-base: var(--ion-color-theme);
    --ion-color-base-rgb: var(--ion-color-theme-rgb);
    --ion-color-contrast: var(--ion-color-theme-contrast);
    --ion-color-contrast-rgb: var(--ion-color-theme-contrast-rgb);
    --ion-color-shade: var(--ion-color-theme-shade);
    --ion-color-tint: var(--ion-color-theme-tint);
}
.ion-color-public {
    --ion-color-base: var(--ion-color-public);
	--ion-color-base-rgb: var(--ion-color-public-rgb);
	--ion-color-contrast: var(--ion-color-public-contrast);
	--ion-color-contrast-rgb: var(--ion-color-public-contrast-rgb);
	--ion-color-shade: var(--ion-color-public-shade);
	--ion-color-tint: var(--ion-color-public-tint);
}
.ion-color-shop {
    --ion-color-base: var(--ion-color-shop);
	--ion-color-base-rgb: var(--ion-color-shop-rgb);
	--ion-color-contrast: var(--ion-color-shop-contrast);
	--ion-color-contrast-rgb: var(--ion-color-shop-contrast-rgb);
	--ion-color-shade: var(--ion-color-shop-shade);
	--ion-color-tint: var(--ion-color-shop-tint);
}
.ion-color-family {
	--ion-color-base: var(--ion-color-family);
	--ion-color-base-rgb: var(--ion-color-family-rgb);
	--ion-color-contrast: var(--ion-color-family-contrast);
	--ion-color-contrast-rgb: var(--ion-color-family-contrast-rgb);
	--ion-color-shade: var(--ion-color-family-shade);
	--ion-color-tint: var(--ion-color-family-tint);
}

.btn-answer {
    display: block;
    border: 2px solid #209d96;
    padding: 11px 30px 11px 30px !important;
    border-radius: 100px;
    margin-bottom: 20px;
    color: #209d96;
    font-size: 1.2rem;
    font-family: sarabun !important;
    line-height: 1.8;

    &:hover {
        background: #209d96;
        color: #fff;
    }
}
.btn-answer-public {
    display: block;
    border: 2px solid #71BBEE;
    padding: 11px 30px 11px 30px !important;
    border-radius: 100px;
    margin-bottom: 20px;
    color: #000;
    font-size: 1.2rem;
    font-family: sarabun !important;
    line-height: 1.8;
    &.active {
        border: 2px solid #71BBEE !important;
        background: #71BBEE !important;
        color: #000 !important;
    }
    &:hover {
        background: #71BBEE;
        color: #fff;
    }
}
.btn-answer-shop {
    display: block;
    border: 2px solid #83D6E7;
    padding: 11px 30px 11px 30px !important;
    border-radius: 100px;
    margin-bottom: 20px;
    color: #000;
    font-size: 1.2rem;
    font-family: sarabun !important;
    line-height: 1.8;
    &.active {
        border: 2px solid #83D6E7 !important;
        background: #83D6E7 !important;
        color: #000 !important;
    }
    &:hover {
        background: #83D6E7;
        color: #fff;
    }
}
.btn-answer-family {
    display: block;
    border: 2px solid #A9D18E;
    padding: 11px 30px 11px 30px !important;
    border-radius: 100px;
    margin-bottom: 20px;
    color: #000;
    font-size: 1.2rem;
    font-family: sarabun !important;
    line-height: 1.8;
    &.active {
        border: 2px solid #A9D18E !important;
        background: #A9D18E !important;
        color: #000 !important;
    }
    &:hover {
        background: #A9D18E;
        color: #fff;
    }
}
.btn-answer-active {
    display: block;
    border: 2px solid #209d96;
    padding: 11px 30px 11px 30px !important;
    border-radius: 100px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-family: sarabun !important;
    background: #209d96;
    color: #fff;

}
h3 {
   line-height: 1.5;
}
.text-danger {
    color: red !important;
}
ion-select,
ion-input {
    border-color: #cccccc !important;
}

ion-button {
    font-family: sarabun !important;
    --box-shadow: none !important;
}
.title-smoke {
    font-size: 15px !important;
    line-height: 2;
}

// .progress {
//     position: fixed;
//     width: 100%;
//     bottom: 10px;
//     padding-left: 5%;
//     padding-right: 5%;
//     p {
//         font-size: .9rem;
//         margin-bottom: 10px;
//         font-weight: bold;
//     }
//     ion-progress-bar {
//         height: 10px;
//     }
// }
.progress {
    position: fixed;
    width: 100%;
    bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    ul {
        position: relative;
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 100% !important;
        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            height: 4px;
            width: 90%;
            background: #71BBEE;
            margin-left: 5%;
            margin-right: 5%;
        }
        li {
            width: 10%;
            float: left;
            display: block;
            text-align: center;
            position: relative;
            ion-icon {
                color: #cccccc;
                font-size: 25px;
            }
            &.active {
                span {
                    position: absolute;
                    top: -25px;
                    left: 4px;
                }
                ion-icon {
                    color: #71BBEE !important;
                }
            }
        }
    }
}
.progress-shop {
    position: fixed;
    width: 100%;
    bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    ul {
        position: relative;
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 100% !important;
        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            height: 4px;
            width: 90%;
            background: #83D6E7;
            margin-left: 5%;
            margin-right: 5%;
        }
        li {
            width: 10%;
            float: left;
            display: block;
            text-align: center;
            position: relative;
            ion-icon {
                color: #cccccc;
                font-size: 25px;
            }
            &.active {
                span {
                    position: absolute;
                    top: -25px;
                    left: 4px;
                }
                ion-icon {
                    color: #83D6E7 !important;
                }
            }
        }
    }
}
.progress-family {
    position: fixed;
    width: 100%;
    bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    ul {
        position: relative;
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 100% !important;
        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            height: 4px;
            width: 90%;
            background: #A9D18E;
            margin-left: 5%;
            margin-right: 5%;
        }
        li {
            width: 10%;
            float: left;
            display: block;
            text-align: center;
            position: relative;
            ion-icon {
                color: #cccccc;
                font-size: 25px;
            }
            &.active {
                span {
                    position: absolute;
                    top: -25px;
                    left: 4px;
                }
                ion-icon {
                    color: #A9D18E !important;
                }
            }
        }
    }
}
.alertConfirm {
    text-align: center !important;
}
.my-custom-class {
    text-align: center !important;
}
.alert-head {
    text-align: center !important;
}
.customToast {
    .toast-wrapper {
        top: 70% !important;
    } 
}
.text-number-report {
    font-size: 25px;
}