<ion-header>
  <ion-toolbar color="theme">
    <ion-title class="title-smoke">แบบสัมภาษณ์พฤติกรรมการสูบบุหรี่</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form #form="ngForm" (ngSubmit)="formData(form)">
    <ion-row>
      <ion-col size="12">
        <ion-label>ชื่อ - สกุล</ion-label>
        <ion-input ype="number" [(ngModel)]="todo.NAME" name="NAME"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-label>เพศ</ion-label>
        <ion-select [(ngModel)]="todo.SEX" name="SEX">
          <ion-select-option value="1">หญิง</ion-select-option>
          <ion-select-option value="2">ชาย</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <p>อายุ (ปี)</p>
        <ion-select [(ngModel)]="todo.AGE" name="AGE">
          <ion-select-option value="1">1 ปี</ion-select-option>
          <ion-select-option value="2">2 ปี</ion-select-option>
          <ion-select-option value="3">3 ปี</ion-select-option>
          <ion-select-option value="4">4 ปี</ion-select-option>
          <ion-select-option value="5">5 ปี</ion-select-option>
          <ion-select-option value="6">6 ปี</ion-select-option>
          <ion-select-option value="7">7 ปี</ion-select-option>
          <ion-select-option value="8">8 ปี</ion-select-option>
          <ion-select-option value="9">9 ปี</ion-select-option>
          <ion-select-option value="10">10 ปี</ion-select-option>
          <ion-select-option value="11">11 ปี</ion-select-option>
          <ion-select-option value="12">12 ปี</ion-select-option>
          <ion-select-option value="13">13 ปี</ion-select-option>
          <ion-select-option value="14">14 ปี</ion-select-option>
          <ion-select-option value="15">15 ปี</ion-select-option>
          <ion-select-option value="16">16 ปี</ion-select-option>
          <ion-select-option value="17">17 ปี</ion-select-option>
          <ion-select-option value="18">18 ปี</ion-select-option>
          <ion-select-option value="19">19 ปี</ion-select-option>
          <ion-select-option value="20">20 ปี</ion-select-option>
          <ion-select-option value="21">21 ปี</ion-select-option>
          <ion-select-option value="22">22 ปี</ion-select-option>
          <ion-select-option value="23">23 ปี</ion-select-option>
          <ion-select-option value="24">24 ปี</ion-select-option>
          <ion-select-option value="25">25 ปี</ion-select-option>
          <ion-select-option value="26">26 ปี</ion-select-option>
          <ion-select-option value="27">27 ปี</ion-select-option>
          <ion-select-option value="28">28 ปี</ion-select-option>
          <ion-select-option value="29">29 ปี</ion-select-option>
          <ion-select-option value="30">30 ปี</ion-select-option>
          <ion-select-option value="31">31 ปี</ion-select-option>
          <ion-select-option value="32">32 ปี</ion-select-option>
          <ion-select-option value="33">33 ปี</ion-select-option>
          <ion-select-option value="34">34 ปี</ion-select-option>
          <ion-select-option value="35">35 ปี</ion-select-option>
          <ion-select-option value="36">36 ปี</ion-select-option>
          <ion-select-option value="37">37 ปี</ion-select-option>
          <ion-select-option value="38">38 ปี</ion-select-option>
          <ion-select-option value="39">39 ปี</ion-select-option>
          <ion-select-option value="40">40 ปี</ion-select-option>
          <ion-select-option value="41">41 ปี</ion-select-option>
          <ion-select-option value="42">42 ปี</ion-select-option>
          <ion-select-option value="43">43 ปี</ion-select-option>
          <ion-select-option value="44">44 ปี</ion-select-option>
          <ion-select-option value="45">45 ปี</ion-select-option>
          <ion-select-option value="46">46 ปี</ion-select-option>
          <ion-select-option value="47">47 ปี</ion-select-option>
          <ion-select-option value="48">48 ปี</ion-select-option>
          <ion-select-option value="49">49 ปี</ion-select-option>
          <ion-select-option value="50">50 ปี</ion-select-option>
          <ion-select-option value="51">51 ปี</ion-select-option>
          <ion-select-option value="52">52 ปี</ion-select-option>
          <ion-select-option value="53">53 ปี</ion-select-option>
          <ion-select-option value="54">54 ปี</ion-select-option>
          <ion-select-option value="55">55 ปี</ion-select-option>
          <ion-select-option value="56">56 ปี</ion-select-option>
          <ion-select-option value="57">57 ปี</ion-select-option>
          <ion-select-option value="58">58 ปี</ion-select-option>
          <ion-select-option value="59">59 ปี</ion-select-option>
          <ion-select-option value="60">60 ปี</ion-select-option>
          <ion-select-option value="61">61 ปี</ion-select-option>
          <ion-select-option value="62">62 ปี</ion-select-option>
          <ion-select-option value="63">63 ปี</ion-select-option>
          <ion-select-option value="64">64 ปี</ion-select-option>
          <ion-select-option value="65">65 ปี</ion-select-option>
          <ion-select-option value="66">66 ปี</ion-select-option>
          <ion-select-option value="67">67 ปี</ion-select-option>
          <ion-select-option value="68">68 ปี</ion-select-option>
          <ion-select-option value="69">69 ปี</ion-select-option>
          <ion-select-option value="70">70 ปี</ion-select-option>
          <ion-select-option value="71">71 ปี</ion-select-option>
          <ion-select-option value="72">72 ปี</ion-select-option>
          <ion-select-option value="73">73 ปี</ion-select-option>
          <ion-select-option value="74">74 ปี</ion-select-option>
          <ion-select-option value="75">75 ปี</ion-select-option>
          <ion-select-option value="76">76 ปี</ion-select-option>
          <ion-select-option value="77">77 ปี</ion-select-option>
          <ion-select-option value="78">78 ปี</ion-select-option>
          <ion-select-option value="79">79 ปี</ion-select-option>
          <ion-select-option value="80">80 ปี</ion-select-option>
          <ion-select-option value="81">81 ปี</ion-select-option>
          <ion-select-option value="82">82 ปี</ion-select-option>
          <ion-select-option value="83">83 ปี</ion-select-option>
          <ion-select-option value="84">84 ปี</ion-select-option>
          <ion-select-option value="85">85 ปี</ion-select-option>
          <ion-select-option value="86">86 ปี</ion-select-option>
          <ion-select-option value="87">87 ปี</ion-select-option>
          <ion-select-option value="88">88 ปี</ion-select-option>
          <ion-select-option value="89">89 ปี</ion-select-option>
          <ion-select-option value="90">90 ปี</ion-select-option>
          <ion-select-option value="91">91 ปี</ion-select-option>
          <ion-select-option value="92">92 ปี</ion-select-option>
          <ion-select-option value="93">93 ปี</ion-select-option>
          <ion-select-option value="94">94 ปี</ion-select-option>
          <ion-select-option value="95">95 ปี</ion-select-option>
          <ion-select-option value="96">96 ปี</ion-select-option>
          <ion-select-option value="97">97 ปี</ion-select-option>
          <ion-select-option value="98">98 ปี</ion-select-option>  
          <ion-select-option value="99">จำไม่ได้</ion-select-option> 
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" shape="round" type="submit" color="dark">ต่อไป</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </ion-grid>
</ion-content>
