<ion-header>
  <ion-toolbar color="shop">
    <ion-title>{{titleShop}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form #form="ngForm" (ngSubmit)="formData(form)">
    <ion-row>
      <ion-col size="12">
        <p>แหล่งเฝ้าระวัง</p>
        <ion-radio-group [(ngModel)]="todo.A1" name="A1">
          <ion-item lines="none" class="question-a1">
            <ion-label>ร้านสะดวกซื้อ</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>
          <ion-item lines="none" class="question-a1">
            <ion-label>ร้านขายของชำ</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>
          <ion-item lines="none" class="question-a1">
            <ion-label>ร้านอาหารที่มีบุหรี่หรือยาเส้นจำหน่าย</ion-label>
            <ion-radio slot="start" value="3"></ion-radio>
          </ion-item>
          <ion-item lines="none" class="question-a1">
            <ion-label>ผับบาร์/คาราโอเกะ/สถานบันเทิง <br> รวมลานเบียร์</ion-label>
            <ion-radio slot="start" value="4"></ion-radio>
          </ion-item>
          <ion-item lines="none" class="question-a1">
            <ion-label>ร้านค้า ล็อกหรือแผงขายที่อยู่ในตลาดนัด/ตลาดสด</ion-label>
            <ion-radio slot="start" value="5"></ion-radio>
          </ion-item>
          <ion-item lines="none" class="question-a1">
            <ion-label>อื่น ๆ</ion-label>
            <ion-radio slot="start" value="6"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" shape="round" type="submit" color="shop">ต่อไป</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </ion-grid>
  <div class="progress-shop">
    <ul>
      <li class="active"><ion-icon name="ellipse"></ion-icon></li>
      <li class="active"><ion-icon name="ellipse"></ion-icon></li>
      <li class="active"><span><ion-icon name="location-sharp" color="danger"></ion-icon></span><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
      <li><ion-icon name="ellipse"></ion-icon></li>
    </ul>
  </div>
</ion-content>
