<ion-header>
  <ion-toolbar>
    <ion-title>หน้าหลัก</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="danger"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tabs-header">
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <ion-text class="icon-banner">
          <ion-icon name="document-text-sharp"></ion-icon>
          <p>แบบสอบถาม</p>
        </ion-text>
      </ion-col>
      <ion-col size="4" class="ion-text-center" routerLink="/tabs/report">
        <ion-text class="icon-banner">
          <ion-icon name="document-sharp"></ion-icon>
          <p>รายงาน</p>
        </ion-text>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-text class="icon-banner">
          <ion-icon name="pie-chart-sharp"></ion-icon>
          <p>สรุปผลสำรวจ</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <ion-text color="danger">
            <h4><b>สถานะการสำรวจ</b></h4>
          </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div class="card-status">
          <ion-icon name="document-text-sharp" color="danger"></ion-icon>
          <h6>สังเกตุร้านค้า</h6>
          <p>แล้วเสร็จ 0/100</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="card-status">
          <ion-icon name="document-text-sharp" color="danger"></ion-icon>
          <h6>สังเกตุสถานะที่สาธารณะ</h6>
          <p>แล้วเสร็จ 0/100</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="card-status">
          <ion-icon name="document-text-sharp" color="danger"></ion-icon>
          <h6>สัมภาษณ์พฤติกรรมการสูบบุหรี่</h6>
          <p>แล้วเสร็จ 0/100</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="content">
          <ion-text color="danger">
            <h4><b>ทำไมต้อง อปท. ต้องปลอดบุหรี่</b></h4>
          </ion-text>
          <p>ลิสต์ปักขคณนาแฟร์ อัลไซเมอร์เวิร์กช็อป แบล็ก วิทย์คอนแท็ค มินท์ไทเฮา คอนโทรลแก๊สโซฮอล์โหลนแฟนตาซี ว้อยมาร์จิน โต๊ะจีนธุหร่ำไฟลท์แบคโฮเต๊ะ ฮองเฮาหยวนเลดี้โนติส พาสตาวิลเลจเอ๊าะมอคคาไมเกรน ปาสกาลราเม็งตัวเองปักขคณนาแคนยอน ทับซ้อนซีนธรรมาสะบึม ตัวเองนพมาศเกสต์เฮาส์บาลานซ์ คอร์รัปชัน เคลม﻿กรรมาชนเก๋ากี้จ๊อกกี้โมหจริต พอเพียงเรตเจี๊ยว</p>
          <div class="ion-text-end">
            <a routerLink="/tabs/home/why">อ่านเพิ่มเติม  ></a>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text color="danger">
          <h3><b>ประกาศ</b></h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item routerLink="/tabs/home/announce-detail">
      <ion-avatar slot="start">
        <img src="assets/shapes.svg">
      </ion-avatar>
      <ion-label>
        <h3>New Ride</h3>
        <p>เพรียวบาง เฉิ่มไลน์เกย์ กรุ๊ป เดโมโฮปดาวน์ดีพาร์ทเมนต์ พันธุวิศวกรรมแคร็กเกอร์ สามช่าแคร์เจไดพุทธภูมิบลูเบอร์รี รันเวย์โยโย่ฮิปฮอป ธรรมาภิบาลเกรย์อัลบัม</p>
      </ion-label>
    </ion-item>

    <ion-item routerLink="/tabs/home/announce-detail">
      <ion-avatar slot="start">
        <img src="assets/shapes.svg">
      </ion-avatar>
      <ion-label>
        <h3>Move Along</h3>
        <p>เพรียวบาง เฉิ่มไลน์เกย์ กรุ๊ป เดโมโฮปดาวน์ดีพาร์ทเมนต์ พันธุวิศวกรรมแคร็กเกอร์ สามช่าแคร์เจไดพุทธภูมิบลูเบอร์รี รันเวย์โยโย่ฮิปฮอป ธรรมาภิบาลเกรย์อัลบัม</p>
      </ion-label>
    </ion-item>

    <ion-item routerLink="/tabs/home/announce-detail">
      <ion-avatar slot="start">
        <img src="assets/shapes.svg">
      </ion-avatar>
      <ion-label>
        <h3>You're My Only Hope</h3>
        <p>เพรียวบาง เฉิ่มไลน์เกย์ กรุ๊ป เดโมโฮปดาวน์ดีพาร์ทเมนต์ พันธุวิศวกรรมแคร็กเกอร์ สามช่าแคร์เจไดพุทธภูมิบลูเบอร์รี รันเวย์โยโย่ฮิปฮอป ธรรมาภิบาลเกรย์อัลบัม</p>
      </ion-label>
    </ion-item>

    <ion-item routerLink="/tabs/home/announce-detail">
      <ion-avatar slot="start">
        <img src="assets/shapes.svg">
      </ion-avatar>
      <ion-label>
        <h3>Size matters not</h3>
        <p>เพรียวบาง เฉิ่มไลน์เกย์ กรุ๊ป เดโมโฮปดาวน์ดีพาร์ทเมนต์ พันธุวิศวกรรมแคร็กเกอร์ สามช่าแคร์เจไดพุทธภูมิบลูเบอร์รี รันเวย์โยโย่ฮิปฮอป ธรรมาภิบาลเกรย์อัลบัม</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
