.content {
    p {
        text-indent: 1rem;
    }
}
ion-label {
    font-family: Kanit !important;
}

.card-status {
    text-align: center !important;

    ion-icon {
        font-size: 35px !important;
    }

    h6 {
        font-size: .85rem;
        font-weight: bold !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    p {
        font-size: .75rem;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        color: green;
    }
}

.tabs-header {
    padding: 10px;
    background-color: #eee;

    .icon-banner {
        ion-icon {
            font-size: 35px;
            color: #C85C5C;
        }
        p {
            font-size: .9rem;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}