<ion-content>
  <div id="header-profile">
    <ion-row>
      <ion-col size="2">
        <div class="img-profile">
          <img src="assets/images/user-theme.png">
        </div>
      </ion-col>
      <ion-col size="10">
        <p>นาย สมชาย ใจดี</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="slide">
          <img src="assets/images/banner/banner.png" alt="">
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="noti">
    <ion-icon name="megaphone-outline"></ion-icon>
    <p>มาร์คเทียมทานแคนูยนตรกรรมอัลมอนด์ เสือโคร่ง เอสเพรสโซรัมชนะเลิศปาร์ตี้</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="menu" routerLink="/home-new/why">
          <ion-icon name="volume-high-outline"></ion-icon>
          <p>บทความ</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="menu" routerLink="/tabs/form">
          <ion-icon name="document-text-outline"></ion-icon>
          <p>แบบสอบถาม</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="menu" routerLink="/tabs/report">
          <ion-icon name="pie-chart-outline"></ion-icon>
          <p>รายงาน</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="menu" routerLink="/tabs/news">
          <ion-icon name="newspaper-outline"></ion-icon>
          <p>ข่าวสาร</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="menu" routerLink="/tabs/contact">
          <ion-icon name="mail-outline"></ion-icon>
          <p>ติดต่อเรา</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="copy-right">
         <p>มูลนิธิรณรงค์เพื่อการไม่สูบบุหรี่ <br> 36/2 ซอยประดิพัทธ์ 10 ถนนประดิพัทธ์ แขวงพญาไท เขตพญาไท <br> กรุงเทพฯ 10400</p> 
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
