<ion-header>
  <ion-toolbar color="family">
    <ion-title class="title-smoke">แบบสัมภาษณ์พฤติกรรมการสูบบุหรี่</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="todo" (ngSubmit)="formData()">
    <ion-row>
      <ion-col size="12">
        <ion-label>จำนวนสมาชิก (คน)</ion-label>
        <ion-select formControlName="MEMBER" okText="ตกลง" cancelText="ยกเลิก">
          <ion-select-option value="1">1 คน</ion-select-option>
          <ion-select-option value="2">2 คน</ion-select-option>
          <ion-select-option value="3">3 คน</ion-select-option>
          <ion-select-option value="4">4 คน</ion-select-option>
          <ion-select-option value="5">5 คน</ion-select-option>
          <ion-select-option value="6">6 คน</ion-select-option>
          <ion-select-option value="7">7 คน</ion-select-option>
          <ion-select-option value="8">8 คน</ion-select-option>
          <ion-select-option value="9">9 คน</ion-select-option>
          <ion-select-option value="10">10 คน</ion-select-option>
          <ion-select-option value="11">11 คน</ion-select-option>
          <ion-select-option value="12">12 คน</ion-select-option>
          <ion-select-option value="13">13 คน</ion-select-option>
          <ion-select-option value="14">14 คน</ion-select-option>
          <ion-select-option value="15">15 คน</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" shape="round" type="submit" color="dark">ยืนยัน</ion-button>
      </ion-col>
    </ion-row>
    </form>
    <ion-list lines="full">
      <ion-item color="primary" (click)="btnStartTest()">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>สมาชิกคนที่ 1</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
